.header-banner {
  background-color: #ffb3ba;
  margin: 0;
  height: 60px;
  padding: 10px;
}

.header-banner > p {
  margin: 0;
  line-height: 60px;
}

.spreadsheet-table {
  border-collapse: collapse;
  width: 100%;
}

.spreadsheet-thead,
.spreadsheet-tbody-tr-td-first {
  background-color: #ffdfba;
}

.spreadsheet-thead-tr-td,
.spreadsheet-tbody-tr-td,
.spreadsheet-thead-tr-td-first,
.spreadsheet-tbody-tr-td-first {
  border: 1px solid gray;
  height: 25px;
  word-wrap: break-word;
}

.spreadsheet-tbody-tr-td > input,
.selectedCell > input {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.spreadsheet-tbody-tr-td > input:focus,
.selectedCell > input:focus {
  outline: none;
}

.spreadsheet-thead-tr-td-first,
.spreadsheet-tbody-tr-td-first {
  width: 25px;
}

.spreadsheet-thead-tr-td,
.spreadsheet-tbody-tr-td {
  width: 130px;
}

.selectedCell {
  outline: 2px solid #bae1ff;
  width: 130px;
  height: 25px;
}

.spreadsheet-div {
  width: 1400px;
  margin: auto;
}

/* 
#ffb3ba
#ffdfba
#ffffba
#baffc9
#bae1ff
*/