.header-banner {
  /* background-color: #FFBAD9; */
  background-color: #b9d9ff;
  margin: 0;
  height: 60px;
  padding: 10px;
  padding-left: 1%;
}

.header-banner>p {
  margin: 0;
  line-height: 60px;
}

.spreadsheet-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 97vw;
  background-color: white;
}

.spreadsheet-thead,
.spreadsheet-tbody-tr-td-first {
  background-color: #ffdfba;
}

.spreadsheet-thead-tr-td,
.spreadsheet-tbody-tr-td,
.spreadsheet-thead-tr-td-first,
.spreadsheet-tbody-tr-td-first {
  border: 1px solid gray;
  height: 25px;
  word-wrap: break-word;
}

.spreadsheet-tbody-tr-td>input,
.selectedCell>input {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.spreadsheet-tbody-tr-td>input:focus,
.selectedCell>input:focus {
  outline: none;
}

.spreadsheet-thead-tr-td-first,
.spreadsheet-tbody-tr-td-first {
  width: 25px;
}

.spreadsheet-thead-tr-td,
.spreadsheet-tbody-tr-td {
  width: 130px;
}

.selectedCell {
  outline: 2px solid #bae1ff;
  width: 130px;
  height: 25px;
}

.spreadsheet-div {
  width: 100%;
  margin: auto;
  padding: 1%;
}

/* 
#ffb3ba
#ffdfba
#ffffba
#baffc9
#bae1ff
*/

.spreadsheet-menus-div {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 15px;
  align-content: end;
}

/* Dropdown Button */
.dropbtn,
.modalButton {
  color: black;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ffdfba;
  border-radius: 4px;
  margin-right: 5px;
}

.modalButton:hover {
  color: darkgray;
  background-color: #eaeaea;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.display-none-toggle {
  display: none;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  margin: 0;
  display: block;
  white-space: nowrap;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
/* .row-dropdown:hover .row-dropdown-content {display: block;} */

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ffdfba;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.merge-modal {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  max-width: 100%;
}

.codeBlockStyles {
  width: 500px;
  height: 500px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #222222;
  color: white;
}

.codeBlockHeaderStyles {
  padding: 5px 10px;
  height: 30px;
  background-color: #282C37;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
}

.codeBlockHeaderStyles>p {
  margin: 0;
  line-height: 30px;
}

.codeBlockCopyButtonStyle {
  background: none;
  border: none;
  color: white;
  height: 100%;
}

.codeBlockCopyButtonStyle:hover {
  cursor: pointer;
  color: lightgray;
}

.copiedDivStyle {
  line-height: 30px;
}

.codeBlockAndAboutDiv {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.codeBlockDiv {
  display: flex;
  flex-basis: 45%;
}

.aboutDiv {
  flex-basis: 45%;
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-left: '1px solid gray';
  border-top: '1px solid gray';
  margin-top: 30px;
  background-color: white;
  padding: 15px;
}